dft-road-casualty-statistics-accident-last-5-years.csv
dft-road-casualty-statistics-casualty-last-5-years.csv
dft-road-casualty-statistics-vehicle-last-5-years.csv
Veh_Acc_Cas_untreated.csv
Veh_Acc_untreated.csv
Accident_NaNs_imputed.csv
Casualty_NaNs_imputed.csv
Vehicle_NaNs_imputed.csv
Veh_Acc_treated_for_model.csv
most_dangerous_junctions.csv
DecisionTreeClassifier_1.p
DecisionTreeClassifier_2.p
DecisionTreeClassifier_3.p
DecisionTreeClassifier_4.p
DecisionTreeClassifier_5.p
DecisionTreeClassifier_6.p
DecisionTreeClassifier_7.p
DecisionTreeClassifier_8.p
LogisticRegression_1.p
LogisticRegression_2.p
LogisticRegression_3.p
LogisticRegression_4.p
LogisticRegression_5.p
LogisticRegression_6.p
LogisticRegression_7.p
LogisticRegression_8.p
KNeighborsClassifier_1.p
KNeighborsClassifier_2.p
KNeighborsClassifier_3.p
KNeighborsClassifier_4.p
KNeighborsClassifier_5.p
KNeighborsClassifier_6.p
KNeighborsClassifier_7.p
KNeighborsClassifier_8.p
RandomForestClassifier_1.p
RandomForestClassifier_2.p
RandomForestClassifier_3.p
RandomForestClassifier_4.p
RandomForestClassifier_5.p
RandomForestClassifier_6.p
RandomForestClassifier_7.p
RandomForestClassifier_8.p
selected_cat_cols.p
minmaxtransformer_38features.p
onehotencoder_38features.p
